<h1>New user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label 'name*'%><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %>*<br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label "Governor's School Email*" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label 'floor*' %><br />
    <select name="user[location]">
  		<option value=""></option>
  		<option value="2nd Floor">2nd Floor</option>
  		<option value="3rd Floor">3rd Floor</option>
	</select>
    <%= %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>